.intro{
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

h1{
    font-size: 5rem;
    max-width: 20ch;
    text-align: center;
    align-self: center;
    color: var(--text);
}

.intro p{
    font-size: 1.6rem;
    text-decoration: underline;
    color: var(--green);
    margin: 1rem auto .5rem;
}

.actions{
    margin-top: 2rem;
}