nav{
    display: flex;
    align-items: center;
    padding: 1.2rem 0;
    margin-bottom: 3rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}


nav li{
    margin-left: 1.5rem;
}

nav li:last-child{
    margin: 0;;
}