@import 'normalize','layout','homepage', 'button', 'nav';

:root{
  --text: #222;
  --green: seagreen;
  --gold: gold;
  --darkgold:rgb(204, 173, 0);
  --hover: all .175s ease-in-out;
  --idle-shadow:0px 0px 0px transparent;
  --active-shadow: 8px 8px 0px rgba(0,0,0,0.95);
}


body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  line-height: 1.2;
}

